



</main>
</div>
<footer class="container bg-light">
    <p>Ary Rodny &copy; <span id="date-footer"></span> - All rights reserved  </p>
</footer>
<script > document.getElementById('date-footer').innerHTML = new Date().getFullYear() </script>
</div>
</body>
</html>